# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [1]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [2]:
# 2) seu código aqui
sinasc.isna().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [3]:
# 3) seu código aqui
sinasc = sinasc[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
                 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] ]
sinasc

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [4]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [5]:
# 4) seu código aqui
sinasc.dropna(subset = ['APGAR5'], inplace = True)
sinasc

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [6]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [7]:
# 5) seu código aqui
sinasc['ESTCIVMAE'].fillna(value = 9, inplace = True)
sinasc['CONSULTAS'].fillna(value = 9, inplace = True)
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [8]:
# 6) Seu código aqui
sinasc['QTDFILVIVO'].fillna(value = 0, inplace = True)
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         310
QTDFILVIVO       0
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [9]:
# 7) seu código aqui
sinasc.ESCMAE.value_counts()

8 a 11 anos        15581
12 anos ou mais     5757
4 a 7 anos          4727
1 a 3 anos           510
Nenhuma               40
Name: ESCMAE, dtype: int64

In [10]:
(310 / len(sinasc)) * 100

1.1513463324048283

In [11]:
sinasc.GESTACAO.value_counts()

37 a 41 semanas        22523
32 a 36 semanas         2234
42 semanas e mais        698
28 a 31 semanas          162
22 a 27 semanas           85
Menos de 22 semanas        7
Name: GESTACAO, dtype: int64

In [12]:
(1216 / len(sinasc)) * 100

4.516248839368616

In [13]:
sinasc.GRAVIDEZ.value_counts()

Única              26356
Dupla                488
Tríplice e mais        5
Name: GRAVIDEZ, dtype: int64

In [14]:
(76 / len(sinasc)) * 100

0.2822655524605385

In [15]:
# Dropando os valores nulos de GRAVIDEZ, pois os valores nulos nele representam menos de 0.3% do dataframe.
sinasc.dropna(subset = ['GRAVIDEZ'], inplace = True)
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         309
QTDFILVIVO       0
GESTACAO      1200
GRAVIDEZ         0
CONSULTAS        0
APGAR5           0
dtype: int64

In [16]:
sinasc

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [17]:
# Preenchendo dados faltantes da ESCMAE (escolaridade da mãe) 
sinasc_test = pd.read_csv('SINASC_RO_2019.csv')
sinasc_test = sinasc_test[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
                 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] ]
sinasc_test.dropna(subset = ['GRAVIDEZ'], inplace = True)
sinasc_test.dropna(subset = ['APGAR5'], inplace = True)
sinasc_test['ESTCIVMAE'].fillna(value = 9, inplace = True)
sinasc_test['CONSULTAS'].fillna(value = 9, inplace = True)
sinasc_test['QTDFILVIVO'].fillna(value = 0, inplace = True)
sinasc_test.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         309
QTDFILVIVO       0
GESTACAO      1200
GRAVIDEZ         0
CONSULTAS        0
APGAR5           0
dtype: int64

In [18]:
sinasc_test.fillna(value = 1, inplace = True)

Criando outro df com os valores nulos da coluna ESCMAE para usar os dados preenchidos de outras colunas, afim de tirar conclusões mais específicas.

In [19]:
sinasc_nan_escmae = sinasc_test[sinasc_test['ESCMAE'] == 1]
sinasc_nan_escmae

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
38,1,25,1.0,1,3.0,37 a 41 semanas,Única,4,8.0
62,1,20,9.0,1,1.0,37 a 41 semanas,Única,4,9.0
66,1,23,5.0,1,1.0,37 a 41 semanas,Única,4,10.0
93,1,22,5.0,1,2.0,37 a 41 semanas,Única,3,9.0
229,1,25,1.0,1,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
26605,1,18,5.0,1,1.0,37 a 41 semanas,Única,4,10.0
26765,1,30,2.0,1,2.0,37 a 41 semanas,Única,4,8.0
26902,1,22,5.0,1,1.0,37 a 41 semanas,Única,3,10.0
26928,1,36,1.0,1,3.0,32 a 36 semanas,Dupla,3,9.0
26973,1,36,9.0,1,0.0,37 a 41 semanas,Única,3,10.0

In [20]:
sinasc_nan_escmae.isna().sum()

LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64

In [21]:
# Pela coluna IDADEMAE (idade da mãe) prevalece uma escolaridade de 8 a 11 anos
sinasc_nan_escmae.IDADEMAE.value_counts()

27    21
22    18
23    17
25    16
32    15
21    15
26    15
30    13
28    13
36    13
20    13
24    12
19    12
37    12
17    11
31    11
34    10
35    10
33    10
38     9
29     9
18     7
16     7
40     6
39     5
41     3
42     2
43     2
15     1
14     1
Name: IDADEMAE, dtype: int64

In [22]:
sinasc_nan_escmae.IDADEMAE.median()

27.0

In [23]:
sinasc_escmae_idade = sinasc[sinasc['IDADEMAE'] == 27]
sinasc_escmae_idade.ESCMAE.value_counts()

8 a 11 anos        786
12 anos ou mais    334
4 a 7 anos         212
1 a 3 anos          25
Nenhuma              1
Name: ESCMAE, dtype: int64

In [24]:
# Pela coluna QTDFILVIVO (qunatidade de filhos vivos) prevalece uma escolaridade de 8 a 11 anos
sinasc_nan_escmae.QTDFILVIVO.value_counts()

0.0    113
1.0    106
2.0     46
3.0     26
4.0     11
6.0      3
7.0      2
9.0      1
5.0      1
Name: QTDFILVIVO, dtype: int64

In [25]:
sinasc_nan_escmae.QTDFILVIVO.median()

1.0

In [26]:
sinasc_qtdfilvivo_esc_mae = sinasc[sinasc['QTDFILVIVO'] == 1]
sinasc_qtdfilvivo_esc_mae.ESCMAE.value_counts()

8 a 11 anos        5514
12 anos ou mais    2176
4 a 7 anos         1431
1 a 3 anos          110
Nenhuma               4
Name: ESCMAE, dtype: int64

In [27]:
# Preenchendo os valores nulos da coluna ESCMAE 
sinasc['ESCMAE'].fillna(value = '8 a 11 anos', inplace = True)
print(sinasc.isna().sum())
print('\n')
print(sinasc.ESCMAE.value_counts())

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE           0
QTDFILVIVO       0
GESTACAO      1200
GRAVIDEZ         0
CONSULTAS        0
APGAR5           0
dtype: int64


8 a 11 anos        15849
12 anos ou mais     5736
4 a 7 anos          4716
1 a 3 anos           508
Nenhuma               40
Name: ESCMAE, dtype: int64

 Preenchi os dados faltantes da coluna ESCMAE com 8 a 11 anos de escolaridade pois, pela mediana da idade da mãe (IDADEMAE) e pela mediana da quantidade de filhos vivos (QTDFILVIVO) apresentada pelo df dos valores nulos da ESCMAE, a escolaridade que prevalece é de 8 a 11 anos.

In [28]:
# Preenchendo os valores nulos da coluna GESTACAO (tempo de gestação).
sinasc_nan_gestacao = sinasc_test[sinasc_test['GESTACAO'] == 1]
sinasc_nan_gestacao.GESTACAO.value_counts()

1    1200
Name: GESTACAO, dtype: int64

In [29]:
sinasc_nan_gestacao.IDADEMAE.value_counts()

30    68
32    65
24    63
29    63
27    62
25    61
28    60
31    60
33    55
26    55
22    52
21    52
35    50
34    45
23    45
20    42
19    42
18    33
37    31
36    30
17    28
16    26
38    24
40    20
39    19
15    17
42    10
41     7
44     6
14     5
13     2
43     1
12     1
Name: IDADEMAE, dtype: int64

In [30]:
sinasc_nan_gestacao.IDADEMAE.median()

28.0

In [31]:
sinasc_gestacao = sinasc[sinasc['IDADEMAE'] == 28]
sinasc_gestacao.GESTACAO.value_counts()

37 a 41 semanas        1100
32 a 36 semanas         110
42 semanas e mais        28
28 a 31 semanas           5
22 a 27 semanas           2
Menos de 22 semanas       1
Name: GESTACAO, dtype: int64

In [32]:
sinasc['GESTACAO'].fillna(value = '37 a 41 semanas', inplace = True)
print(sinasc.isna().sum())
print('\n')
print(sinasc.GESTACAO.value_counts())

LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64


37 a 41 semanas        23671
32 a 36 semanas         2226
42 semanas e mais        698
28 a 31 semanas          162
22 a 27 semanas           85
Menos de 22 semanas        7
Name: GESTACAO, dtype: int64

Preenchi a coluna GESTACAO com 37 a 41 semanas pois foi o valor que se apresentou majoritariamente na faixa de 28 anos de idade. Usei como base para pesquisar no df principal a mediana de 28 anos (IDADEMAE) dos valores nulos da coluna GESTACAO.

In [33]:
# 8) seu código aqui
sinasc.loc[sinasc['APGAR5'] >= 8, 'faixas por asfixia'] = 'normal'
sinasc.loc[sinasc['APGAR5'] <= 7, 'faixas por asfixia'] = 'asfixia leve'
sinasc.loc[(sinasc['APGAR5'] <= 5), 'faixas por asfixia'] = 'asfixia moderada'
sinasc.loc[sinasc['APGAR5'] <= 3, 'faixas por asfixia'] = 'asfixia severa'

sinasc['faixas por asfixia'].value_counts()

normal              26388
asfixia leve          319
asfixia severa         74
asfixia moderada       68
Name: faixas por asfixia, dtype: int64

In [34]:
# 9) seu código aqui
colunas = sinasc.columns
colunas = list(map(lambda coluna: coluna.lower(), colunas))
colunas

['locnasc',
 'idademae',
 'estcivmae',
 'escmae',
 'qtdfilvivo',
 'gestacao',
 'gravidez',
 'consultas',
 'apgar5',
 'faixas por asfixia']

In [35]:
colunas = ['loc_nasc', 'idade_mae', 'est_civ_mae', 'esc_mae', 'qtd_fil_vivo', 'gestacao',
       'gravidez', 'consultas', 'apgar5', 'faixas_por_asfixia']
sinasc.columns = colunas
sinasc.reset_index(drop = True, inplace = True)
print(sinasc.columns)
sinasc

Index(['loc_nasc', 'idade_mae', 'est_civ_mae', 'esc_mae', 'qtd_fil_vivo',
       'gestacao', 'gravidez', 'consultas', 'apgar5', 'faixas_por_asfixia'],
      dtype='object')

,loc_nasc,idade_mae,est_civ_mae,esc_mae,qtd_fil_vivo,gestacao,gravidez,consultas,apgar5,faixas_por_asfixia
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
26844,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
26845,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
26846,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
26847,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
26848,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal